@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

:where(.css-dev-only-do-not-override-1htoz2s).ant-modal .ant-modal-close {
  top: 2px;
  right: 2px;
}

:where(.css-dev-only-do-not-override-1htoz2s).ant-modal .ant-modal-content {
  padding: 28px 16px 16px 16px;
}

:where(.css-dev-only-do-not-override-1htoz2s).ant-modal.dark-theme
  .ant-modal-content {
  background-color: #303030 !important;
  color: #ffffff !important;
  border-color: #303030 !important;
}

:where(.css-dev-only-do-not-override-1htoz2s).ant-modal.dark-theme
  .ant-modal-close {
  color: #aaaaaa !important;
}
