.monster-dropdown {
  .ant-dropdown-menu {
    background-color: #36395a;
    min-width: 120px;
  }

  .ant-dropdown-menu-item {
    color: #ffffff;
  }

  .ant-dropdown-menu-item:hover {
    background-color: #20223b !important;
  }
}
